<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Personel durumu olan URL'ler için -->
                <rule name="SEO URL with Personnel Status">
                    <match url="^hizmet/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/$" />
                    <action type="Rewrite" url="hizmet-bolgesi.html?il={R:1}&amp;ilce={R:2}&amp;mahalle={R:3}&amp;tip={R:4}&amp;durum={R:5}" appendQueryString="true" />
                </rule>
                
                <!-- Personel durumu olmayan URL'ler için -->
                <rule name="SEO URL without Personnel Status">
                    <match url="^hizmet/([^/]+)/([^/]+)/([^/]+)/([^/]+)/$" />
                    <action type="Rewrite" url="hizmet-bolgesi.html?il={R:1}&amp;ilce={R:2}&amp;mahalle={R:3}&amp;tip={R:4}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/index.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
